<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>FlaskBlog</title>

  <body>

    <form action="#" method="post" onsubmit="return confirm('Are you sure you want to submit?');">
      <h1>Select a User to Delete</h1><br><br>
      {% for item in values %}
        <input type="radio" id=fname name=fname value = {{item[2]}}>
        <label for=fname> {{item[0]}} {{item[1]}} {{item[2]}}</label><br>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
