<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>FlaskBlog</title>

  <body>
    <form action="#" method="post">
      <h1>Select a User</h1><br><br>
      {% for item in values %}
        <input type="radio" id=userId name=userId value = {{item[2]}}>
        <label for=userId> {{item[0]}} {{item[1]}} {{item[2]}} </label><br>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>


  </body>
</html>
