<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Modify the equip</title>

</head>
  <body>
    <form action="#" method="post" onsubmit="return confirm('Are you sure you want to submit?');">
      <h1>Modify Equipment</h1><br><br>
      {% for item in values %}

        <div style="width:50%;float:left;">

          <label for="ename">Equipment name:</label>
          <input type="text" id="ename" name="ename" value={{item[0]}} required><br><br>

          <label for="eid">Equipment ID:</label>
          <input type="number" id="eid" name="eid" value={{item[1]}} required><br><br>

          <label for="etype">Equipment Type:</label>
          {% if item[2] == None %}
          <input type="text" id="etype" name="etype"><br><br>
          {% else %}
          <input type="text" id="etype" name="etype" value={{item[2]}}><br><br>
          {% endif %}

          <label for="boxnum">Box Number:</label>
          <input type="number" id="boxnum" name="boxnum" value={{item[3]}} required><br><br>

          <label for="wifiadd">Wifi Address:</label>
          <input type="text" id="wifiadd" name="wifiadd" value={{item[4]}} required><br><br>

          <label for="model">Model:</label>
          <input type="text" id="model" name="model" value={{item[5]}} required><br><br>

          <label for="serial">Serial Number:</label>
          {% if item[6] == None %}
          <input type="text" id="serial" name="serial"><br><br>
          {% else %}
          <input type="text" id="serial" name="serial" value={{item[6]}}><br><br>
          {% endif %}
        </div>

            <div style="width:50%;float:left;">
              <label for="power">Power State:</label>
              <input type="text" id="power" name="power" value={{item[7]}} required><br><br>

              <label for="lastused">Last Used:</label>
              {% if item[8] == None %}
              <input type="text" id="lastused" name="lastused"><br><br>
              {% else %}
              <input type="text" id="lastused" name="lastused" value={{item[8]}}><br><br>
              {% endif %}

          <label for="certneeded">Certification:</label>
          <input type="text" id="certneeded" name="certneeded" value={{item[9]}} required><br><br>

          <label for="lastmain">Last Maintenance:</label>
          {% if item[10] == None %}
          <input type="date" id="lastmain" name="lastmain"><br><br>
          {% else %}
          <input type="date" id="lastmain" name="lastmain" value={{item[10]}}><br><br>
          {% endif %}


              <label for="needmain">Needs Maintenance:</label>
              {% if item[11] == None %}
              <input type="text" id="needmain" name="needmain"><br><br>
              {% else %}
              <input type="text" id="needmain" name="needmain" value={{item[11]}}><br><br>
              {% endif %}

              <label for="schedule">Schedule:</label>
              {% if item[12] == None %}
              <input type="text" id="schedule" name="schedule"><br><br>
              {% else %}
              <input type="text" id="schedule" name="schedule" value={{item[12]}}><br><br>
              {% endif %}

          <label for="surge">Surge Level:</label>
          {% if item[13] == None %}
          <input type="number" step="any" id="surge" name="surge"><br><br>
          {% else %}
          <input type="number" step="any" id="surge" name="surge" value={{item[13]}}><br><br>
          {% endif %}
        </div>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
